.card_text_elipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.cardPost_chraracteristic {
  transition: all 0.3s ease-in-out;
}
