/* .tab_post .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00214d !important;
} */

.container_post_page {
  position: relative;
}
.tab_header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 465px;
  z-index: 1;
}
.tab_control {
  padding-top: 90px;
}
.container_skeleton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.container_skeleton .ant-skeleton-image,
.container_skeleton .ant-skeleton.ant-skeleton-element {
  width: 100% !important;
}

.tab_content {
  /* overflow-y: scroll; */
  padding: 4px 8px;
}
.tab_item {
  cursor: pointer;
}

.tab_item p::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 4px solid;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.tab_item p.active::after {
  transform: scaleX(1);
}
