/* create layout container for mobile  */
.mainLayout_container {
  max-width: 768px;
  margin: 0 auto;
}
/* 
@media screen and (min-width: 480px) {
  .mainLayout_container {
    margin: 0 2vw;
  }
}

@media screen and (min-width: 576px) {
  .mainLayout_container {
    margin: 0 5vw;
  }
}

@media screen and (min-width: 768px) {
  .mainLayout_container {
    margin: 0 16vw;
  }
}

@media screen and (min-width: 992px) {
  .mainLayout_container {
    margin: 0 24vw;
  }
}*/

@media screen and (min-width: 1200px) {
  .mainLayout_container {
    max-width: 465px;
  }
}

@media screen and (min-width: 1400px) {
  /* .mainLayout_container {
    margin: 0 36vw;
  } */
}
