.container_floating {
  position: relative;
}

.wrap_floating_button_group {
  position: fixed;
}

.float_button_group {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  right: 0;
  width: 100%;
  max-width: 465px;
  padding: 0 16px;
  bottom: 100px;
}

.floating_overlay {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 465px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(60, 57, 57, 0.7);
}
/* 
@media screen and (min-width: 480px) {
  .float_button_group {
    right: 2.5vw;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 784px) {
  .float_button_group {
    right: 3vw;
  }
}

@media screen and (min-width: 868px) {
  .float_button_group {
    right: 10vw;
  }
}

@media screen and (min-width: 992px) {
  .float_button_group {
    right: 14vw;
  }
}

@media screen and (min-width: 1200px) {
  .float_button_group {
    right: 38vw;
  }
  .floating_overlay {
    max-width: 465px;
  }
}

@media screen and (min-width: 1400px) {
} */
