@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  max-width: 465px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Warna latar belakang track */
}

/* Thumb (grip) */
::-webkit-scrollbar-thumb {
  background-color: #c7c7c7; /* Warna thumb */
  border-radius: 5px; /* Sudut melengkung pada thumb */
}

/* Hovered Thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0; /* Warna thumb ketika dihover */
}

/* Active Thumb (ketika thumb diklik) */
::-webkit-scrollbar-thumb:active {
  background-color: #b0b0b0; /* Warna thumb ketika diklik */
}
